<!DOCTYPE html>
<html>
<body>
	<div class="hero-body container-sign">
		<div class="container has-text-centered">
			<%= link_to(image_tag("ComponentNW.png", :class => 'nw'), "/")%>
		</div>
		<div class="container has-text-centered lema-position">
			<div class="login-lema">
				<span>learn.</span>
				<span class="talk-color">talk.</span>
				<span class="initiate-color">initiate.</span>
			</div>
		</div>

		<div class="container has-text-centered options-sign">
			<a class="btn-login " href="/users/sign_in">Login</a>
			<a class="btn-login border" href="/users/sign_up">Register</a>
		</div>

		<div class="column is-4 is-offset-4 has-text-centered box-white">
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				<%= devise_error_messages! %>
				
				<div class="field">
					<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email-field", placeholder: "Insert your email" %>
				</div>

				<div class="actions">
					<%= f.submit "Send email", class:"btn-login" %>
				</div>
			<% end %>
		</div>
	</div>
</body>
</html>