<%= form_for :evento, url: eventos_path do |f|%>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :speaker %><br>
		<%= f.text_field :speaker %>
	</p>
	<p>
		<%= f.label :target %><br>
		<%= f.text_field :target %>
	<p>
		<%= f.label :theme %><br>
		<%= f.text_field :theme %>
	</p>
	<p>
		<%= f.label :description %><br>
		<%= f.text_area :description %>
	</p>

	<p><%= f.submit %></p>
<% end %>