<!DOCTYPE html>
<html>
  <body>
    
<%= render "home/header" %>
<main>
  <div class="container has-text-centered">
      <%= image_tag("12_segunda.png")%>
      
      <% @eventos.each do |evento| %>
      <div class="columns">
        <div class="column is-4 has-text-left"> 
          <ul>
            <li class="event-date">
              <%= h evento.date -%>
            </li>
          </ul>
            </div>
            <div class="column is-4 has-text-left">
              <ul>
                <li class="event-theme">
                  <%= h evento.name-%>
                </li>
              </ul>
            </div>
            <div class="column is-4 has-text-left">
              <ul>  
                <li class="event-name">
                  <%= h evento.tipo -%>
                </li>
              </ul>
            </div>
            <div class="column is-2 has-text-left">
              <ul>
                <%= check_box_tag 'role_ids[]', evento.id -%>
              </ul>
            </div>
            <br>
          </ul>
        </div>
        <li id="content" class="event-desc">
            <%=h evento.description-%>
        </li>
      <!-- <tr>
        <td><%= link_to 'Show', evento %></td>
        <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
        <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr> -->
      <% end %>
      <h1>Eventos</h1>
      
      
      

<br>

<%= link_to 'New Evento', new_evento_path %>
</div>
</main>
</body>

</html>