<!DOCTYPE html>
<html>

<body>
	<%= render "home/header" %>

		<main>
			<div class="container has-text-centered">
				<br>
				<%= image_tag("12_segunda.png") %>


					<% @eventos.each do |evento| %>
						<%= form_tag("eventos/#{evento.id}/subscribe", method: :get) do %>
							<% if evento.date.day == 12 %>
								<% if evento.name == "coffee break"%>
									<div class="columns">
										<div class="column is-2 has-text-left">
											<ul>
												<li class="event-date">
													<%= h evento.date.hour -%>:
														<%= evento.date.min -%>
												</li>
											</ul>
										</div>
										<div class="column is-8 break-red" style="display: inline-flex">
											<span style="white-space: nowrap;">COFFEE BREAK</span>
											<div class="line-red"></div>
										</div>
									</div>

								<% elsif evento.name == "almoco"%>
									<div class="columns">
										<div class="column is-2 has-text-left">
											<ul>
												<li class="event-date">
													<%= h evento.date.hour -%>:
														<%= evento.date.min -%>0</li>
											</ul>
										</div>
										<div class="column is-8 break-yellow" style="display: inline-flex">
											<span>ALMOÇO</span>
											<div class="line-yellow"></div>
										</div>
									</div>

								<% else%>
									<div class="columns">
										<div class="column is-2 has-text-left">
											<ul>
												<li class="event-date">
													<%= h evento.date.hour -%>:
														<%= evento.date.min -%>0</li>
											</ul>
										</div>
										<div class="column is-4 has-text-left">
											<ul>
												<li class="event-theme">
													<%= h evento.name-%>
												</li>
											</ul>
										</div>
										<div class="column is-4 has-text-left">
											<ul>
												<li class="event-name">
													<%= h evento.tipo -%>
												</li>
											</ul>
										</div>
										<div class="column is-2 has-text-left">
											<ul>
												<!---<% if user_signed_in? %>
                        <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                         <%= button_to 'Subscribe', ids: evento.id %>
                  
                        <% else %>
                            <%= button_to 'Unsubscribe', ids: evento.id %>
                        <% end %>
                  
                       <% end %>-->
											</ul>
										</div>
									</div>

									<ul>
										<li class="event-desc has-text-left" style="margin-left: 8vh;">
											<%= h evento.description-%>
										</li>
									</ul>
									<br>
									<br>
								<%end%>
							<% end %>
						<%end%>
					<%end%>
					<%= image_tag("13_terca.png") %>
						<% @eventos.each do |evento| %>
							<%= form_tag("eventos/#{evento.id}/subscribe", method: :get) do %>

							<% if evento.date.day == 13 %>
								<% if evento.name == "coffee break"%>
									<div class="columns">
										<div class="column is-2 has-text-left">
											<ul>
												<li class="event-date">
													<%= h evento.date.hour -%>:
														<%= evento.date.min -%>
												</li>
											</ul>
										</div>
										<div class="column is-8 break-red" style="display: inline-flex">
											<span style="white-space: nowrap;">COFFEE BREAK</span>
											<div class="line-red"></div>
										</div>
									</div>

								<% elsif evento.name == "almoco"%>
									<div class="columns">
										<div class="column is-2 has-text-left">
											<ul>
												<li class="event-date">
													<%= h evento.date.hour -%>:
														<%= evento.date.min -%>0</li>
											</ul>
										</div>
								<div class="column is-8 break-yellow" style="display: inline-flex">
											ALMOÇO
											<div class="line-yellow"></div>
										</div>
									</div>

								<%else%>
									<div class="columns">
										<div class="column is-2 has-text-left">
											<ul>
												<li class="event-date">
													<%= h evento.date.hour -%>:
														<%= evento.date.min -%>0 </li>
											</ul>
										</div>
										<div class="column is-4 has-text-left">
											<ul>
												<li class="event-theme">
													<%= h evento.name-%>
												</li>
											</ul>
										</div>
										<div class="column is-4 has-text-left">
											<ul>
												<li class="event-name">
													<%= h evento.tipo -%>
												</li>
											</ul>
										</div>
										<div class="column is-2 has-text-left">
											<ul>
                        <!---<% if user_signed_in? %>
                        <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                         <%= button_to 'Subscribe', ids: evento.id %>
                  
                        <% else %>
                            <%= button_to 'Unsubscribe', ids: evento.id %>
                        <% end %>
                  
                       <% end %>-->
											</ul>
										</div>
									</div>

									<ul>
										<li class="event-desc has-text-left" style="margin-left: 8vh;">
											<%= h evento.description-%>
										</li>
									</ul>
									<br>
									<br>
									<%end%>
								<%end%>
							<% end %>
							<%end%>

					<%= image_tag("14_quarta.png") %>
						<% @eventos.each do |evento| %>
						<%= form_tag("eventos/#{evento.id}/subscribe", method: :get) do %>

							<% if evento.date.day == 14 %>
								<% if evento.name == "coffee break"%>
									<div class="columns">
										<div class="column is-2 has-text-left">
											<ul>
												<li class="event-date">
													<%= h evento.date.hour -%>:
														<%= evento.date.min -%>
												</li>
											</ul>
										</div>
										<div class="column is-8 break-red" style="display: inline-flex">
											<span style="white-space: nowrap;">COFFEE BREAK</span>
											<div class="line-red"></div>
										</div>
									</div>

								<% elsif evento.name == "almoco"%>
									<div class="columns">
										<div class="column is-2 has-text-left">
											<ul>
												<li class="event-date">
													<%= h evento.date.hour -%>:
														<%= evento.date.min -%>0</li>
											</ul>
										</div>
									<div class="column is-8 break-yellow" style="display: inline-flex">
											ALMOÇO 
											<div class="line-yellow"></div>
										</div>
									</div>
								<%else%>
									<div class="columns">
										<div class="column is-2 has-text-left">
											<ul>
												<li class="event-date">
													<%= h evento.date.hour -%>:
														<%= evento.date.min -%>0 </li>
											</ul>
										</div>
										<div class="column is-4 has-text-left">
											<ul>
												<li class="event-theme">
													<%= h evento.name-%>
												</li>
											</ul>
										</div>
										<div class="column is-4 has-text-left">
											<ul>
												<li class="event-name">
													<%= h evento.tipo -%>
												</li>
											</ul>
										</div>
										<div class="column is-2 has-text-left">
											<ul>
												 <!---<% if user_signed_in? %>
                        <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                         <%= button_to 'Subscribe', ids: evento.id %>
                  
                        <% else %>
                            <%= button_to 'Unsubscribe', ids: evento.id %>
                        <% end %>
                  
                       <% end %>-->
											</ul>
										</div>
									</div>

									<ul>
										<li class="event-desc has-text-left" style="margin-left: 8vh;">
											<%= h evento.description-%>
										</li>
									</ul>
									<br>
									<br>
								<%end%>
							<% end %>
							<% end %>		
						<% end %>



				<%= image_tag("15_quinta.png") %>
					<% @eventos.each do |evento| %>
						<%= form_tag("eventos/#{evento.id}/subscribe", method: :get) do %>

						<% if evento.date.day == 15 %>
							<% if evento.name == "coffee break"%>
								<div class="columns">
									<div class="column is-2 has-text-left">
										<ul>
											<li class="event-date">
												<%= h evento.date.hour -%>:
													<%= evento.date.min -%>
											</li>
										</ul>
									</div>
									<div class="column is-8 break-red" style="display: inline-flex">
										<span style="white-space: nowrap;">COFFEE BREAK</span>
										<div class="line-red"></div>
									</div>
								</div>

							<% elsif evento.name == "almoco"%>
								<div class="columns">
									<div class="column is-2 has-text-left">
										<ul>
											<li class="event-date">
												<%= h evento.date.hour -%>:
													<%= evento.date.min -%>0</li>
										</ul>
									</div>
									<div class="column is-8 break-yellow" style="display: inline-flex">
										ALMOÇO
										<div class="line-yellow"></div>
									</div>
								</div>
							<%else%>

								<div class="columns">
									<div class="column is-2 has-text-left">
										<ul>
											<li class="event-date">
												<%= h evento.date.hour -%>:
													<%= evento.date.min -%>0 </li>
										</ul>
									</div>
									<div class="column is-4 has-text-left">
										<ul>
											<li class="event-theme">
												<%= h evento.name-%>
											</li>
										</ul>
									</div>
									<div class="column is-4 has-text-left">
										<ul>
											<li class="event-name">
												<%= h evento.tipo -%>
											</li>
										</ul>
									</div>
									<div class="column is-2 has-text-left">
										<ul>
											                       <!---<% if user_signed_in? %>
                        <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                         <%= button_to 'Subscribe', ids: evento.id %>
                  
                        <% else %>
                            <%= button_to 'Unsubscribe', ids: evento.id %>
                        <% end %>
                  
                       <% end %>-->
										</ul>
									</div>
								</div>

								<ul>
									<li class="event-desc has-text-left" style="margin-left: 8vh;">
										<%= h evento.description-%>
									</li>
								</ul>
								<br>
								<br>
							<%end%>

						<%end%>
					<% end %>
						<%end%>

			</div>
		</main>
</body>

</html>