<!DOCTYPE html>
<html>

<body>
	<%= render "home/header" %>

		<main>
			<div class="container has-text-centered">
				<div class="hey">
					<%= image_tag("12_segunda.png") %>
				</div>

					<% @eventos.each do |evento| %>
						<%= form_tag("eventos/#{evento.id}/subscribe", method: :get) do %>
							<% if evento.date.day == 12 %>
							
								<% if evento.name == "coffee break"%>
									<div class="columns" style="padding: 2vh;">
										<div id="time" class="column is-2 has-text-left">
											<ul>
												<li class="event-date">
													<%if evento.date.min == 0%>
														<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																<%else%>
																	<%= h evento.date.hour -%>:<%= evento.date.min-%>
																			<%end%>
												</li>
											</ul>
										</div>
										<div class="column is-8 break-red" style="display: inline-flex">
											<span style="white-space: nowrap;">COFFEE BREAK</span>
											<div class="line-red"></div>
										</div>
									</div>
									

									<% elsif evento.name == "almoco"%>
										<div class="columns" style="padding: 2vh;">
											<div id="time" class="column is-2 has-text-left ">
												<ul>
													<li class="event-date">
														<%if evento.date.min == 0%>
															<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																	<%else%>
																		<%= h evento.date.hour -%>:<%= evento.date.min-%>
																				<%end%>
													</li>
												</ul>
											</div>
											<div class="column is-8 break-yellow" style="display: inline-flex">
												<span>ALMOÇO</span>
												<div class="line-yellow"></div>
											</div>
										</div>

										<% else%>
											<div class="columns" style="padding: 2vh;">
												<div class="column is-2 has-text-left">
													<ul>
														<li class="event-date">
															<%if evento.date.min == 0%>
																<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																		<%else%>
																			<%= h evento.date.hour -%>:<%= evento.date.min-%>
																					<%end%>
														</li>
													</ul>
												</div>
												<div class="column is-6 has-text-left">
													<ul>
														<li class="event-theme">
															<%= h evento.name-%>
														</li>
													</ul>
												</div>
												
												<div class="column is-2 has-text-left">
													<ul>
														<%if evento.id == 9%>

														<% if user_signed_in? %>
                        <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                         <%= button_to 'Inscrever', ids: evento.id %>
                  
                        <% else %>
                            <%= button_to 'Desinscrever', ids: evento.id %>
                        <% end %>
                  
                  
					   <% end %>
					   
					   <%end%>
													</ul>
												</div>
											</div>
											<div class="columns">
												<div class="column is-2">

												</div>
												<div class="column is-5 has-text-left">
													<ul>
														<li class="event-name">
															<%= h evento.tipo -%>
														</li>
													</ul>
												</div>
											</div>

											<ul>
												<li class="event-desc has-text-left" style="margin-left: 12vh; padding-bottom: 2vh;">
													<%= h evento.description-%>
												</li>
											</ul>
															
							
											<%end%>
												<% end %>
													<%end%>
														<%end%>
														<div class="hey">
															<%= image_tag("13_terca.png") %>
															</div>
																<% @eventos.each do |evento| %>
																	<%= form_tag("eventos/#{evento.id}/subscribe", method: :get) do %>

																		<% if evento.date.day == 13 %>
																		
																			<% if evento.name == "coffee break"%>
																				<div class="columns" style="padding: 2vh;">
																					<div id="time" class="column is-2 has-text-left">
																						<ul>
																							<li class="event-date">
																								<%if evento.date.min == 0%>
																									<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																											<%else%>
																												<%= h evento.date.hour -%>:<%= evento.date.min-%>
																														<%end%>
																							</li>
																						</ul>
																					</div>
																					<div class="column is-8 break-red" style="display: inline-flex">
																						<span style="white-space: nowrap;">COFFEE BREAK</span>
																						<div class="line-red"></div>
																					</div>
																				</div>

																				<% elsif evento.name == "almoco"%>
																					<div class="columns" style="padding: 2vh;">
																						<div id="time" class="column is-2 has-text-left">
																							<ul>
																								<li class="event-date">
																									<%if evento.date.min == 0%>
																										<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																												<%else%>
																													<%= h evento.date.hour -%>:<%= evento.date.min-%>
																															<%end%>
																							</ul>
																						</div>
																						<div class="column is-8 break-yellow" style="display: inline-flex">
																							ALMOÇO
																							<div class="line-yellow"></div>
																						</div>
																					</div>

																					<%else%>
																						<div class="columns" style="padding: 2vh;">
																							<div class="column is-2 has-text-left">
																								<ul>
																									<li class="event-date">
																										<%if evento.date.min == 0%>
																											<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																													<%else%>
																														<%= h evento.date.hour -%>:<%= evento.date.min-%>
																																<%end%>
																								</ul>
																							</div>
																							<div class="column is-6 has-text-left">
																								<ul>
																									<li class="event-theme">
																										<%= h evento.name-%>
																									</li>
																								</ul>
																							</div>
																							
																							<div class="column is-2 has-text-left">
																								<ul>
																									<!---<% if user_signed_in? %>
                        <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                         <%= button_to 'Inscrever', ids: evento.id %>
                  
                        <% else %>
                            <%= button_to 'Desinscrever', ids: evento.id %>
                        <% end %>
                  
                       <% end %>-->
																								</ul>
																							</div>
																						</div>
																						<div class="columns">
																							<div class="column is-2">
																						
																							</div>
																							<div class="column is-5 has-text-left">
																								<ul>
																									<li class="event-name">
																										<%= h evento.tipo -%>
																									</li>
																								</ul>
																							</div>
																						</div>

																						<ul>
																							<li class="event-desc has-text-left" style="margin-left: 12vh; padding-bottom: 2vh;">
																								<%= h evento.description-%>
																							</li>
																						</ul>
																	
																						<%end%>
																							<%end%>
																								<% end %>
																									<%end%>
<div class="hey">
																									<%= image_tag("14_quarta.png") %>
																									</div>
																											<% @eventos.each do |evento| %>
																												<%= form_tag("eventos/#{evento.id}/subscribe", method: :get) do %>

																													<% if evento.date.day == 14 %>
																												
																														<% if evento.name == "coffee break"%>
																															<div class="columns" style="padding: 2vh;">
																																<div id="time" class="column is-2 has-text-left">
																																	<ul>
																																		<li class="event-date">
																																			<%if evento.date.min == 0%>
																																				<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																																						<%else%>
																																							<%= h evento.date.hour -%>:<%= evento.date.min-%>
																																									<%end%>
																																		</li>
																																	</ul>
																																</div>
																															
																																<div class="column is-8 break-red" style="display: inline-flex">
																																	<span style="white-space: nowrap;">COFFEE BREAK</span>
																																	<div class="line-red"></div>
																																</div>
			</div>

			<% elsif evento.name == "almoco"%>
				<div class="columns" style="padding: 2vh;">
					<div id="time" class="column is-2 has-text-left">
						<ul>
							<li class="event-date">
								<%if evento.date.min == 0%>
									<%= h evento.date.hour -%>:<%= evento.date.min-%>0
											<%else%>
												<%= h evento.date.hour -%>:<%= evento.date.min-%>
														<%end%>
						</ul>
					</div>
					<div class="column is-8 break-yellow" style="display: inline-flex">
						ALMOÇO
						<div class="line-yellow"></div>
					</div>
				</div>
			
				<%elsif evento.name == "Now Work it!"%>
					<div class="columns" style="padding: 2vh;">
						<div class="column is-2 has-text-left">
							<ul>
								<li class="event-date">
									<%if evento.date.min == 0%>
										<%= h evento.date.hour -%>:<%= evento.date.min-%>0
												<%else%>
													<%= h evento.date.hour -%>:<%= evento.date.min-%>
															<%end%>
							</ul>
						</div>
						<div class="column is-6 has-text-left">
							<ul>
								<li class="event-theme">
									<%= h evento.name-%>
								</li>
							</ul>
						</div>
						
						<div class="column is-2 has-text-left">
							<ul>
								<!---<% if user_signed_in? %>
                        <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                         <%= button_to 'Inscrever', ids: evento.id %>
                  
                        <% else %>
                            <%= button_to 'Desinscrever', ids: evento.id %>
                        <% end %>
                  
                       <% end %>-->
							</ul>
						</div>
					</div>
					<div class="columns">
						<div class="column is-2">
					
						</div>
						<div class="column is-5 has-text-left">
							<ul>
								<li class="event-name">
									<%= h evento.tipo -%>
								</li>
							</ul>
						</div>
					</div>

					<ul>
						<li class="event-desc has-text-left" style="margin-left: 12vh; padding-bottom: 2vh;">
							<%= h evento.description-%>
						</li>
					</ul>
					<br>
					<br>

					<div id="quarta" class="columns">
						
						<div id="time" class="column is-2 has-text-left">
							<ul>
								<li class="event-date">13:30</li>
							</ul>
						</div>
						<div class="column is-5 has-text-left">
							<ul>
								<li class="event-14">Recepção e Credenciação</li>
							</ul>
						</div>
					</div>
					<div id="quarta" class="columns">
						
						<div id="time" class="column is-2 has-text-left">
							<ul>
								<li class="event-date">14:00</li>
							</ul>
						</div>
						<div class="column is-5 has-text-left">
							<ul>
								<li class="event-14">Brainstorm</li>
							</ul>
						</div>
					</div>
					<div id="quarta" class="columns">
						
						<div id="time" class="column is-2 has-text-left">
							<ul>
								<li class="event-date">15:00</li>
							</ul>
						</div>
						<div class="column is-5 has-text-left">
							<ul>
								<li class="event-14">Mentoring</li>
							</ul>
						</div>
					</div>
					<div id="quarta" class="columns">
						
						<div id="time" class="column is-2 has-text-left">
							<ul>
								<li class="event-date">16:00</li>
							</ul>
						</div>
						<div class="column is-5 has-text-left">
							<ul>
								<li class="event-14">How To Pitch?</li>
							</ul>
						</div>
					</div>
					<div id="quarta" class="columns">
						
						<div id="time" class="column is-2 has-text-left">
							<ul>
								<li class="event-date">16:30</li>
							</ul>
						</div>
						<div class="column is-5 break-red-14" style="display: inline-flex">
							<span style="white-space: nowrap;">COFFEE BREAK</span>
							<div class="line-red-14"></div>
						</div>
					</div>
					<div id="quarta" class="columns">
						
						<div id="time" class="column is-2 has-text-left">
							<ul>
								<li class="event-date">17:00</li>
							</ul>
						</div>
						<div class="column is-5 has-text-left">
							<ul>
								<li class="event-14">Pitch Time - Apresentação das ideias</li>
							</ul>
						</div>
					</div>
					<div id="quarta" class="columns">
						
						<div id="time" class="column is-2 has-text-left">
							<ul>
								<li class="event-date">18:00</li>
							</ul>
						</div>
						<div class="column is-5 has-text-left">
							<ul>
								<li class="event-14">Entrega de prémios</li>
							</ul>
						</div>
					</div>
					<br>
					<br>

					<%else%>
						<div class="columns" style="padding: 2vh;">
							<div class="column is-2 has-text-left">
								<ul>
									<li class="event-date">
										<%if evento.date.min == 0%>
											<%= h evento.date.hour -%>:<%= evento.date.min-%>0
													<%else%>
														<%= h evento.date.hour -%>:<%= evento.date.min-%>
																<%end%>
								</ul>
							</div>
							<div class="column is-6 has-text-left">
								<ul>
									<li class="event-theme">
										<%= h evento.name-%>
									</li>
								</ul>
							</div>
						
							<div class="column is-2 has-text-left">
								<ul>
									<!---<% if user_signed_in? %>
																<% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
																<%= button_to 'Inscrever', ids: evento.id %>
														
																<% else %>
																	<%= button_to 'Desinscrever', ids: evento.id %>
																<% end %>
														
															<% end %>-->
								</ul>
							</div>
						</div>
						<div class="columns">
							<div class="column is-2">
						
							</div>
							<div class="column is-5 has-text-left">
								<ul>
									<li class="event-name">
										<%= h evento.tipo -%>
									</li>
								</ul>
							</div>
						</div>
						<ul>
							<li class="event-desc has-text-left" style="margin-left: 12vh; padding-bottom: 2vh;">
								<%= h evento.description-%>
							</li>
						</ul>
																												
						<%end%>
							<% end %>
								<% end %>
									<% end %>


<div class="hey">
										<%= image_tag("15_quinta.png") %>
										</div>
											<% @eventos.each do |evento| %>
												<%= form_tag("eventos/#{evento.id}/subscribe", method: :get) do %>

													<% if evento.date.day == 15 %>
													
														<% if evento.name == "coffee break"%>
															<div class="columns" style="padding: 2vh;">
																<div id="time" class="column is-2 has-text-left">
																	<ul>
																		<li class="event-date">
																			<%if evento.date.min == 0%>
																				<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																						<%else%>
																							<%= h evento.date.hour -%>:<%= evento.date.min-%>
																									<%end%>
																		</li>
																	</ul>
																</div>
																<div class="column is-8 break-red" style="display: inline-flex">
																	<span style="white-space: nowrap;">COFFEE BREAK</span>
																	<div class="line-red"></div>
																</div>
															</div>

															<% elsif evento.name == "almoco"%>
																<div class="columns" style="padding: 2vh;">
																	<div id="time" class="column is-2 has-text-left">
																		<ul>
																			<li class="event-date">
																				<%if evento.date.min == 0%>
																					<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																							<%else%>
																								<%= h evento.date.hour -%>:<%= evento.date.min-%>
																										<%end%>
																			</li>
																		</ul>
																	</div>
																	<div class="column is-8 break-yellow" style="display: inline-flex">
																		ALMOÇO
																		<div class="line-yellow"></div>
																	</div>
																</div>
																<%else%>

																	<div class="columns" style="padding: 2vh;">
																		<div class="column is-2 has-text-left">
																			<ul>
																				<li class="event-date">
																					<%if evento.date.min == 0%>
																						<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																								<%else%>
																									<%= h evento.date.hour -%>:<%= evento.date.min-%>
																											<%end%>
																			</ul>
																		</div>
																		<div class="column is-5 has-text-left">
																			<ul>
																				<li class="event-theme">
																					<%= h evento.name-%>
																				</li>
																			</ul>
																		</div>
																		
																		<div class="column is-2 has-text-left">
																			<ul>
																				<% if user_signed_in? %>
                        <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                         <%= button_to 'Inscrever', ids: evento.id %>
                  
                        <% else %>
                            <%= button_to 'Desinscrever', ids: evento.id %>
                        <% end %>
                  
					   <% end %>
																			</ul>
																		</div>
																	</div>
<div class="columns">
	<div class="column is-2">

	</div>
	<div class="column is-5 has-text-left">
		<ul>
			<li class="event-name">
				<%= h evento.tipo -%>
			</li>
		</ul>
	</div>
</div>
																	<ul>
																		<li class="event-desc has-text-left" style="margin-left: 12vh; padding-bottom: 2vh;">
																			<%= h evento.description-%>
																		</li>
																	</ul>
												
																	<%end%>

																		<%end%>
																			<% end %>
																				<%end%>

																					</div>
		</main>
</body>

</html>