<!DOCTYPE html>
<html>
  <body>
    
<%= render "home/header" %>
<main>
  <div class="container has-text-centered">

    <%= form_tag('/eventos/subscribe') do %>
      <%= image_tag("12_segunda.png")%>
      
      <% @eventos.each do |evento| %>
        <ul>
          <li class="event-date">
            <%= h evento.date -%>
          </li>
          <li class="event-theme">
            <%= h evento.name -%>
          </li>
          <li class="event-name">
            <%= h evento.tipo -%>
          </li>
            <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
              <%= check_box_tag 'role_ids[]', evento.id -%>
            <% end %>
          <br>
          <li id="content" class="event-desc">
              <%=h evento.description-%>
          </li>
      </ul>
     
      <% end %>

      <%= submit_tag 'Subscribe' %>
    <% end %>
      
    <br>
  </div>
</main>
</body>

</html>