<!DOCTYPE html>
<html>

<body>
	<%= render "home/header" %>

		<main>
			<div class="container has-text-centered">
				<div class="hey">
					<%= image_tag("12_segunda.png") %>
				
					<!-- <div class="date-evento" style="display: inline-flex;">
						<div class="week-day-container">
							<span class="week-day">segunda- </span>
							<br>
							<span class="week-day-feira">feira</span>
					
						</div>
						<div>
							<div style="display: inline-flex">
								<p class="day-evento-red">12</p>
								<div class="line-evento-yellow"></div>
					
							</div>
						</div>
					</div> -->
				</div>
					<% @eventos.each do |evento| %>
						<%= form_tag("eventos/#{evento.id}/subscribe", method: :get) do %>
							<% if evento.date.day == 12 %>
							
								<% if evento.name == "coffee break"%>
									<div class="columns" style="padding: 2vh;">
										<div id="time" class="column is-2 has-text-left">
											<ul>
												<li class="event-date">
													<%if evento.date.min == 0%>
														<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																<%else%>
																	<%= h evento.date.hour -%>:<%= evento.date.min-%>
																			<%end%>
												</li>
											</ul>
										</div>
										<div class="column is-8 break-red" style="display: inline-flex">
											<span style="white-space: nowrap;">COFFEE BREAK</span>
											<div class="line-red"></div>
										</div>
									</div>
									

									<% elsif evento.name == "almoco"%>
										<div class="columns" style="padding: 2vh;">
											<div id="time" class="column is-2 has-text-left ">
												<ul>
													<li class="event-date">
														<%if evento.date.min == 0%>
															<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																	<%else%>
																		<%= h evento.date.hour -%>:<%= evento.date.min-%>
																				<%end%>
													</li>
												</ul>
											</div>
											<div class="column is-8 break-yellow" style="display: inline-flex">
												<span>ALMOÇO</span>
												<div class="line-yellow"></div>
											</div>
										</div>

										<% else%>
											<div class="columns" style="padding: 2vh;">
												<div class="column is-2 has-text-left">
													<ul>
														<li class="event-date">
															<%if evento.date.min != 1%>
																<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																		<%else%>
																			<%= h evento.date.hour -%>:<%= evento.date.min-%>
																					<%end%>
														</li>
													</ul>
												</div>
												<div class="column is-8 has-text-left">
													<ul>
														<li class="event-theme">
															<%= h evento.name-%>
														</li>
													</ul>
												</div>
												
												<div class="column is-2 has-text-left">
													<ul>
														

														<% if user_signed_in? %>
                        <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                         <%= button_to 'Inscrever', ids: evento.id %>
                  
                        <% else %>
                            <%= button_to 'Desinscrever', ids: evento.id %>
                        <% end %>
                  
                  
					   <% end %>
					   
						</ul>
					</div>
				</div>
				<div class="columns">
					<div class="column is-5 has-text-left" style="margin-left: 18%">
						<ul>
							<li class="event-name">
								<%= h evento.tipo -%>
							</li>
						</ul>
					</div>
					<div class="column is-2">
						<% if evento.tipo == "WIT Software" || evento.tipo == "António Mendes" %>
							<%= link_to(image_tag("WIT2.png"), "https://wit-software.com/" ) %>
								<% elsif evento.tipo == "NOVABASE" %>
									<%= link_to(image_tag("NOVABASE.png"), "https://novabase.pt/" ) %>
										<% elsif evento.tipo == "Ubiwhere" || evento.tipo == "André Duarte" %>
											<%= link_to(image_tag("UBIWHERE.png", :class=> "ubiout"), "https://ubiwhere.com/" ) %>
												<% elsif evento.tipo == "Outsystems" %>
													<%= link_to(image_tag("OUTSYSTEMS.png", :class=> "ubiout"), "https://outsystems.com/" ) %>
														<% end%>
					</div>
				</div>

				<ul>
					<li class="event-desc has-text-left" style="margin-left: 10%; padding-bottom: 2vh;">
						<%= h evento.description-%>
					</li>
				</ul>
								

				<%end%>
					<% end %>
						<%end%>
							<%end%>
							<div class="hey">
								<%= image_tag("13_terca.png") %>
								</div>
									<% @eventos.each do |evento| %>
										<%= form_tag("eventos/#{evento.id}/subscribe", method: :get) do %>

											<% if evento.date.day == 13 %>
											
												<% if evento.name == "coffee break"%>
													<div class="columns" style="padding: 2vh;">
														<div id="time" class="column is-2 has-text-left">
															<ul>
																<li class="event-date">
																	<%if evento.date.min == 0%>
																		<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																				<%else%>
																					<%= h evento.date.hour -%>:<%= evento.date.min-%>
																							<%end%>
																</li>
															</ul>
														</div>
														<div class="column is-8 break-red" style="display: inline-flex">
															<span style="white-space: nowrap;">COFFEE BREAK</span>
															<div class="line-red"></div>
														</div>
													</div>

													<% elsif evento.name == "almoco"%>
														<div class="columns" style="padding: 2vh;">
															<div id="time" class="column is-2 has-text-left">
																<ul>
																	<li class="event-date">
																		<%if evento.date.min == 0%>
																			<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																					<%else%>
																						<%= h evento.date.hour -%>:<%= evento.date.min-%>
																								<%end%>
																</ul>
															</div>
															<div class="column is-8 break-yellow" style="display: inline-flex">
																ALMOÇO
																<div class="line-yellow"></div>
															</div>
														</div>

														<%else%>
															<div class="columns" style="padding: 2vh;">
																<div class="column is-2 has-text-left">
																	<ul>
																		<li class="event-date">
																			<%if evento.date.min == 0%>
																				<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																						<%else%>
																							<%= h evento.date.hour -%>:<%= evento.date.min-%>
																									<%end%>
																	</ul>
																</div>
																<div class="column is-8 has-text-left">
																	<ul>
																		<li class="event-theme">
																			<%= h evento.name-%>
																		</li>
																	</ul>
																</div>
																
																<div class="column is-2 has-text-left">
																	<ul>
					
																									-<% if user_signed_in? %>
												<% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
												<%= button_to 'Inscrever', ids: evento.id %>
										
												<% else %>
													<%= button_to 'Desinscrever', ids: evento.id %>
												<% end %>
										
											<% end %>
											
												</ul>
											</div>
										</div>
										<div class="columns">
											<div class="column is-5 has-text-left" style="margin-left: 18%">
												<ul>
													<li class="event-name">
														<%= h evento.tipo -%>
													</li>
												</ul>
											</div>
											<div class="column is-2">
												<% if evento.tipo == "WIT Software" || evento.tipo == "António Mendes" %>
													<%= link_to(image_tag("WIT2.png"), "https://wit-software.com/" ) %>
														<% elsif evento.tipo == "NOVABASE" %>
															<%= link_to(image_tag("NOVABASE.png"), "https://novabase.pt/" ) %>
																<% elsif evento.tipo == "Ubiwhere" || evento.tipo == "André Duarte" %>
																	<%= link_to(image_tag("UBIWHERE.png", :class=> "ubiout"), "https://ubiwhere.com/" ) %>
																		<% elsif evento.tipo == "Ooutsystems" %>
																			<%= link_to(image_tag("OUTSYSTEMS.png", :class=> "ubiout"), "https://outsystems.com/" ) %>
																				<% end%>
											</div>
										</div>

										<ul>
											<li class="event-desc has-text-left" style="margin-left: 10%; padding-bottom: 2vh;">
												<%= h evento.description-%>
											</li>
										</ul>
					
										<%end%>
											<%end%>
												<% end %>
													<%end%>
<div class="hey">
<%= image_tag("14_quarta.png") %>
<!-- <div class="date-evento" style="display: inline-flex;">
	<div class="week-day-container">
		<span class="week-day">quarta- </span>
		<br>
		<span class="week-day-feira" style="margin-right: -30%;">feira</span>

	</div>
	<div>
		<div style="display: inline-flex">
			<p class="day-evento-red">14</p>
			<div class="line-evento-yellow"></div>

		</div>
	</div>
</div> -->
</div>
	<% @eventos.each do |evento| %>
<%= form_tag("eventos/#{evento.id}/subscribe", method: :get) do %>

<% if evento.date.day == 14 %>
<% if evento.name == "coffee break"%>
<div class="columns" style="padding: 2vh;">
<div id="time" class="column is-2 has-text-left">
							<ul>
								<li class="event-date">
									<%if evento.date.min == 0%>
										<%= h evento.date.hour -%>:<%= evento.date.min-%>0
										<%else%>
											<%= h evento.date.hour -%>:<%= evento.date.min-%>
													<%end%>
						</li>
					</ul>
				</div>
			
				<div class="column is-8 break-red" style="display: inline-flex">
					<span style="white-space: nowrap;">COFFEE BREAK</span>
					<div class="line-red"></div>
																																</div>
			</div>

			<% elsif evento.name == "almoco"%>
				<div class="columns" style="padding: 2vh;">
					<div id="time" class="column is-2 has-text-left">
						<ul>
							<li class="event-date">
								<%if evento.date.min == 0%>
									<%= h evento.date.hour -%>:<%= evento.date.min-%>0
											<%else%>
												<%= h evento.date.hour -%>:<%= evento.date.min-%>
														<%end%>
						</ul>
					</div>
					<div class="column is-8 break-yellow" style="display: inline-flex">
						ALMOÇO
						<div class="line-yellow"></div>
					</div>
				</div>
			
				<%elsif evento.name == "Now Work it!"%>
					<div class="columns" style="padding: 2vh;">
						<div class="column is-2 has-text-left">
							<ul>
								<li class="event-date">
									<%if evento.date.min == 0%>
										<%= h evento.date.hour -%>:<%= evento.date.min-%>0
												<%else%>
													<%= h evento.date.hour -%>:<%= evento.date.min-%>
															<%end%>
							</ul>
						</div>
						<div class="column is-8 has-text-left">
							<ul>
								<li class="event-theme">
									<%= h evento.name-%>
								</li>
							</ul>
						</div>
						
						<div class="column is-2 has-text-left">
							<ul>
								<% if user_signed_in? %>
                        <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                         <%= button_to 'Inscrever', ids: evento.id %>
                  
                        <% else %>
                            <%= button_to 'Desinscrever', ids: evento.id %>
                        <% end %>
                  
                       <% end %>
							</ul>
						</div>
					</div>
					

					<ul>
						<li class="event-desc has-text-left" style="margin-left: 10%; padding-bottom: 2vh;">
							<%= h evento.description-%>
						</li>
					</ul>
				

					<div id="quarta" class="columns">
						
						<div id="time" class="column is-2 has-text-left">
							
								<li class="event-date">13:30</li>
							
						</div>
						<div class="column is-5 has-text-left">
							
								<li class="event-14">Recepção e Credenciação</li>
							
						</div>
					</div>
					<div id="quarta" class="columns">
						
						<div id="time" class="column is-2 has-text-left">
							
								<li class="event-date">14:00</li>
							
						</div>
						<div class="column is-5 has-text-left">
							
								<li class="event-14">Brainstorm</li>
							
						</div>
					</div>
					<div id="quarta" class="columns">
						
						<div id="time" class="column is-2 has-text-left">
							
								<li class="event-date">15:00</li>
							
						</div>
						<div class="column is-5 has-text-left">
							
								<li class="event-14">Mentoring</li>
							
						</div>
					</div>
					<div id="quarta" class="columns">
						
						<div id="time" class="column is-2 has-text-left">
							
								<li class="event-date">16:00</li>
							
						</div>
						<div class="column is-5 has-text-left">
							
								<li class="event-14">How To Pitch?</li>
							
						</div>
					</div>
					<div id="quarta" class="columns">
						
						<div id="time" class="column is-2 has-text-left">
							
								<li class="event-date">16:30</li>
							
						</div>
						<div class="column is-5 break-red-14" style="display: inline-flex">
							<span style="white-space: nowrap;">COFFEE BREAK</span>
							<div class="line-red-14"></div>
						</div>
					</div>
					<div id="quarta" class="columns">
						
						<div id="time" class="column is-2 has-text-left">
							
								<li class="event-date">17:00</li>
							
						</div>
						<div class="column is-5 has-text-left">
							
								<li class="event-14">Pitch Time - Apresentação das ideias</li>
							
						</div>
					</div>
					<div id="quarta" class="columns">
						
						<div id="time" class="column is-2 has-text-left">
							
								<li class="event-date">18:00</li>
							
						</div>
						<div class="column is-5 has-text-left">
							
								<li class="event-14">Entrega de prémios</li>
							
						</div>
					</div>
					<br>
					<br>

					<%else%>
						<div class="columns" style="padding: 2vh;">
							<div class="column is-2 has-text-left">
								<ul>
									<li class="event-date">
										<%if evento.date.min == 0%>
											<%= h evento.date.hour -%>:<%= evento.date.min-%>0
													<%else%>
														<%= h evento.date.hour -%>:<%= evento.date.min-%>
																<%end%>
								</ul>
							</div>
							<div class="column is-8 has-text-left">
								<ul>
									<li class="event-theme">
										<%= h evento.name-%>
									</li>
								</ul>
							</div>
						
							<div class="column is-2 has-text-left">
								<ul>
									<!---<% if user_signed_in? %>
																<% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
																<%= button_to 'Inscrever', ids: evento.id %>
														
																<% else %>
																	<%= button_to 'Desinscrever', ids: evento.id %>
																<% end %>
														
															<% end %>-->
								</ul>
							</div>
						</div>
						<div class="columns">
							<div class="column is-5 has-text-left" style="margin-left: 18%">
								<ul>
									<li class="event-name">
										<%= h evento.tipo -%>
									</li>
								</ul>
							</div>
							<div class="column is-2">
								<% if evento.tipo == "WIT Software" || evento.tipo == "António Mendes" %>
									<%= link_to(image_tag("WIT2.png"), "https://wit-software.com/" ) %>
										<% elsif evento.tipo == "NOVABASE" %>
											<%= link_to(image_tag("NOVABASE.png"), "https://novabase.pt/" ) %>
												<% elsif evento.tipo == "Ubiwhere" || evento.tipo == "André Duarte" %>
													<%= link_to(image_tag("UBIWHERE.png", :class=> "ubiout"), "https://ubiwhere.com/" ) %>
														<% elsif evento.tipo == "Ooutsystems" %>
															<%= link_to(image_tag("OUTSYSTEMS.png", :class=> "ubiout"), "https://outsystems.com/" ) %>
																<% end%>
							</div>
						</div>
						<ul>
							<li class="event-desc has-text-left" style="margin-left: 10%; padding-bottom: 2vh;">
								<%= h evento.description-%>
							</li>
						</ul>
																												
						<%end%>
							<% end %>
								<% end %>
									<% end %>


<div class="hey">
										<%= image_tag("15_quinta.png") %>
										<!-- <div class="date-evento" style="display: inline-flex;">
											<div class="week-day-container">
												<span class="week-day">quinta- </span>
												<br>
												<span class="week-day-feira" style="margin-right: -30%;">feira</span>
										
											</div>
											<div>
												<div style="display: inline-flex">
													<p class="day-evento-yellow">15</p>
													<div class="line-evento-red"></div>
										
												</div>
											</div>
										</div> -->
										</div>
										<div class="columns">
											<div class="column is-4" style="margin-left: 27%">
													<p>Inserido no Now What? decorrerá o Oh, Shift... Coimbra!</p>
											</div>
											<div class="column is-3 has-text-left" >
												
													<%= link_to(image_tag("SA.png", :class=> "shift"), "https://shiftappens.com" )%>
										
											</div>
										</div>
											<% @eventos.each do |evento| %>
												<%= form_tag("eventos/#{evento.id}/subscribe", method: :get) do %>

													<% if evento.date.day == 15 %>
													
														<% if evento.name == "coffee break"%>
															<div class="columns" style="padding: 2vh;">
																<div id="time" class="column is-2 has-text-left">
																	<ul>
																		<li class="event-date">
																			<%if evento.date.min == 0%>
																				<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																						<%else%>
																							<%= h evento.date.hour -%>:<%= evento.date.min-%>
																									<%end%>
																		</li>
																	</ul>
																</div>
																<div class="column is-8 break-red" style="display: inline-flex">
																	<span style="white-space: nowrap;">COFFEE BREAK</span>
																	<div class="line-red"></div>
																</div>
															</div>

															<% elsif evento.name == "almoco"%>
																<div class="columns" style="padding: 2vh;">
																	<div id="time" class="column is-2 has-text-left">
																		<ul>
																			<li class="event-date">
																				<%if evento.date.min == 0%>
																					<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																							<%else%>
																								<%= h evento.date.hour -%>:<%= evento.date.min-%>
																										<%end%>
																			</li>
																		</ul>
																	</div>
																	<div class="column is-8 break-yellow" style="display: inline-flex">
																		ALMOÇO
																		<div class="line-yellow"></div>
																	</div>
																</div>
																<%else%>

																	<div class="columns" style="padding: 2vh;">
																		<div class="column is-2 has-text-left">
																			<ul>
																				<li class="event-date">
																					<%if evento.date.min == 0%>
																						<%= h evento.date.hour -%>:<%= evento.date.min-%>0
																								<%else%>
																									<%= h evento.date.hour -%>:<%= evento.date.min-%>
																											<%end%>
																			</ul>
																		</div>
																		<div class="column is-8 has-text-left">
																			<ul>
																				<li class="event-theme">
																					<%= h evento.name-%>
																				</li>
																			</ul>
																		</div>
																		
																		<div class="column is-2 has-text-left">
																			<ul>
																				<% if user_signed_in? %>
                        <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                         <%= button_to 'Inscrever', ids: evento.id %>
                  
                        <% else %>
                            <%= button_to 'Desinscrever', ids: evento.id %>
                        <% end %>
                  
					   <% end %>
																			</ul>
																		</div>
																	</div>
<div class="columns">
	<div class="column is-5 has-text-left" style="margin-left: 18%">
		<ul>
			<li class="event-name">
				<%= h evento.tipo -%>
			</li>
		</ul>
	</div>
	<div class="column is-2">
		<% if evento.tipo == "WIT Software" || evento.tipo == "António Mendes" %>
			<%= link_to(image_tag("WIT2.png"), "https://wit-software.com/" ) %>
				<% elsif evento.tipo == "NOVABASE" %>
					<%= link_to(image_tag("NOVABASE.png"), "https://novabase.pt/" ) %>
						<% elsif evento.tipo == "Ubiwhere" || evento.tipo == "André Duarte" %>
							<%= link_to(image_tag("UBIWHERE.png", :class=> "ubiout"), "https://ubiwhere.com/" ) %>
								<% elsif evento.tipo == "Ooutsystems" %>
									<%= link_to(image_tag("OUTSYSTEMS.png", :class=> "ubiout"), "https://outsystems.com/" ) %>
										<% end%>
	</div>
</div>
						<ul>
							<li class="event-desc has-text-left" style="margin-left: 10%; padding-bottom: 2vh;">
								<%= h evento.description-%>
							</li>
						</ul>
	
						<%end%>

							<%end%>
								<% end %>
									<%end%>


										</div>
																					</div>
																					<br>
																					<br>
																					<br>
																					<section class="footer-about">
																						<%= render "home/footer" %>
																					</section>
		</main>
</body>

</html>