<!DOCTYPE html>
<html>
	<head>
		<title>NowWhat</title>

	</head>

	<body>
		<%= render "eventos/header" %>
		<section class="hero container-obj" >
			<div class="hero-body" style="padding-bottom:0;">
				<div class="container">
					<div class="columns is-vcentered">
						<div class="column is-7 ">
							<div class="about-us ">
								<h1 class="title size-title">
									ABOUT
									<br>
									US
								</h1>
								<div id="border"></div>
								<br>
								<br>
								<h2 class="text subtitle size-subtitle">
									Com esta feira planeamos dar a conhecer, aos estudantes da nossa faculdade, todas as hipóteses que têm ao seu dispor durante
									e após o seu percurso académico. Assim planeamos expor e clarificar o mundo do empreendedorismo, bem como promover uma interação
									com as várias estruturas empregadoras.	
								</h2>
								<br>
							</div>
							
							<div class="columns options">
								<p>
									<div id=first class="arrow-down">
										<div style="margin-right: 15vh; margin-left: -2.45vh; margin-top: 1vh;">
											<%= image_tag("1-01.png", :class => "icon")%>
										</div>
									</div>
									<div id=second class="arrow-downT" >
										<div style="margin-right: 15vh; margin-left: -2.45vh; margin-top: 1vh;">	
											<%= image_tag("1-01.png", :class => "icon")%>
										</div>
									</div>
									<div id=third class="arrow-downT">
										<div style="margin-right: 15vh; margin-left: -2.45vh; margin-top: 1vh;">
												<%= image_tag("2-02.png", :class => "icon")%>
										</div>
									</div>
									<div id=fourth class="arrow-downT">
										<div style="margin-right: 15vh; margin-left: -2.45vh; margin-top: 1vh;">
												<%= image_tag("3-03.png", :class => "icon")%>
										</div>
									</div>
									<div id=fifth class="arrow-downT">
										<div style="margin-right: 15vh; margin-left: -2.45vh; margin-top: 1vh;">
												<%= image_tag("4-04.png", :class => "icon")%>
										</div>
									</div>
									<div id=sixth class="arrow-downT">
										<div style="margin-right: 15vh; margin-left: -2.45vh; margin-top: 1vh;">
											<%= image_tag("5-05.png", :class => "icon")%>
										</div>
									</div>
									<div id=seventh class="arrow-downT">
										<div style="margin-right: 15vh; margin-left: -2.45vh; margin-top: 1vh;">
											<%= image_tag("6-06.png", :class => "icon")%>
										</div>
									</div>
								</p>
							</div>
						</div>
						<div class="column is-5 about-image">
							<figure class="image is-4by3">
								<%= image_tag("Component(9).png", :id => "image") %>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section style="padding-top: 12.3vh;">
			<%= render "eventos/footer" %>
		</section>
	</body>

</html>