  <%= form_for(perfil) do |f| %>
    <% if perfil.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(perfil.errors.count, "error") %> prohibited this perfil from being saved:</h2>

        <ul>
        <% perfil.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <p>Por favor dá-nos mais dados sobre ti para procedermos a tua credenciação no evento</p>
    <br>
    <div class="field">
      <%= f.text_field :nome, class: 'field-perfil', placeholder:'Nome' %>
    </div>
    <br>
    
    <div class="field">
      <%= f.text_field :ano_de_licenciatura, class: 'field-perfil', placeholder:'Data prevista para conclusão' %>
    </div>
      <br>
    <div class="field">
      <%= f.text_field :instituto, class: 'field-perfil', placeholder:'Instituto' %>
    </div>
      <br>
    <div class="field">
      <%= f.text_field :curso, class: 'field-perfil', placeholder:'Curso' %>
    </div>
    <br>
    <div class="field remember" >
      <div class="field" style="display: inline-flex">
        <%= f.check_box :savedata, checked: true , class: 'checkbox-remember'%>
        <%= f.label "Deixas-nos partilhar os teu dados com algumas empresas relevantes da nossa area?", class: 'remember-data' %>
        
      </div>
      
    </div>

      <br>
      <div class="actions a-perfil">
        <%= f.submit %>
      </div>
    
  <% end %>