<!DOCTYPE html>
<html>

<body>
    <%= render "home/header" %>
<main>
    <div class="hero-body container has-text-centered">
        <div class="columns has-text-centered">
            <div class="column is-12 has-text-left box-gray-perfil">
                <h1 class="email-field">Perfil</h1>
                    <div class="has-text-right">
                        <%= link_to 'Edit', edit_perfil_path(@perfil) %>
                    </div>
                
                <div class="between-info-perfil">
                    <strong class="show-perfil">Nome:</strong>
                    <div class="show-content-perfil">
                        <%= @perfil.nome%>
                    </div>
                </div>
                <br>
                <div class="between-info-perfil">
                    <strong class="show-perfil">Ano Inscrito: </strong>
                    <div class="show-content-perfil">
                        <%= @perfil.ano_de_licenciatura %>
                    </div>
                </div>
                <br>
                <div class="between-info-perfil">
                    <strong class="show-perfil">Instituto:</strong>
                    <div class="show-content-perfil">
                        <%= @perfil.instituto %>
                    </div>
                </div>
                <br>
                <div class="between-info-perfil">
                    <strong class="show-perfil">Curso:</strong>
                    <div class="show-content-perfil">
                        <%= @perfil.curso %>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="column is-12 has-text-centered">
            
            <%= image_tag("inscricoes.png") %>
        </div>

                <%= image_tag("12_segunda.png") %>
                
                
                    <% @eventos.each do |evento| %>
                        <% if evento.date.day == 12 %>
                            <% if evento.name == "coffee break"%>
                                <div class="columns">
                                    <div class="column is-2 has-text-left">
                                        <ul>
                                            <li class="event-date">
                                                <%= h evento.date.hour -%>:
                                                    <%= evento.date.min -%>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="column is-8">
                                        <%= image_tag("cb.png") %>
                                    </div>
                                </div>
                
                                <% elsif evento.name == "almoco"%>
                                    <div class="columns">
                                        <div class="column is-2 has-text-left">
                                            <ul>
                                                <li class="event-date">
                                                    <%= h evento.date.hour -%>:
                                                        <%= evento.date.min -%>0</li>
                                            </ul>
                                        </div>
                                        <div class="column is-8">
                                            <%= image_tag("almoco.png") %>
                                        </div>
                                    </div>
                
                                    <% else%>
                                        <div class="columns">
                                            <div class="column is-2 has-text-left">
                                                <ul>
                                                    <li class="event-date">
                                                        <%= h evento.date.hour -%>:
                                                            <%= evento.date.min -%>0</li>
                                                </ul>
                                            </div>
                                            <div class="column is-4 has-text-left">
                                                <ul>
                                                    <li class="event-theme">
                                                        <%= h evento.name-%>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="column is-4 has-text-left">
                                                <ul>
                                                    <li class="event-name">
                                                        <%= h evento.tipo -%>
                                                    </li>
                
                                                </ul>
                                            </div>
                                            <div class="column is-2 has-text-left">
                                                <ul >
                                                    <%= link_to 'Unsubscribe', evento_unsubscribe_path(evento) %>
                                                </ul>
                                                <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                                                    <% end %>
                                            </div>
                                        </div>
                
                                        <ul>
                                            <li class="event-desc has-text-left" style="margin-left: 8vh;">
                                                <%= h evento.description-%>
                                            </li>
                                        </ul>
                                        <br>
                                        <br>
                                        <%end%>
                                            <% end %>
                                                <%end%>


                                                <%= image_tag("13_terca.png") %>
                                                
                                                
                                                    <% @eventos.each do |evento| %>
                                                        <% if evento.date.day == 13 %>
                                                            <% if evento.name == "coffee break"%>
                                                                <div class="columns">
                                                                    <div class="column is-2 has-text-left">
                                                                        <ul>
                                                                            <li class="event-date">
                                                                                <%= h evento.date.hour -%>:
                                                                                    <%= evento.date.min -%>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="column is-8">
                                                                        <%= image_tag("cb.png") %>
                                                                    </div>
                                                                </div>
                                                
                                                                <% elsif evento.name == "almoco"%>
                                                                    <div class="columns">
                                                                        <div class="column is-2 has-text-left">
                                                                            <ul>
                                                                                <li class="event-date">
                                                                                    <%= h evento.date.hour -%>:
                                                                                        <%= evento.date.min -%>0</li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="column is-8">
                                                                            <%= image_tag("almoco.png") %>
                                                                        </div>
                                                                    </div>
                                                
                                                                    <% else%>
                                                                        <div class="columns">
                                                                            <div class="column is-2 has-text-left">
                                                                                <ul>
                                                                                    <li class="event-date">
                                                                                        <%= h evento.date.hour -%>:
                                                                                            <%= evento.date.min -%>0</li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="column is-4 has-text-left">
                                                                                <ul>
                                                                                    <li class="event-theme">
                                                                                        <%= h evento.name-%>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="column is-4 has-text-left">
                                                                                <ul>
                                                                                    <li class="event-name">
                                                                                        <%= h evento.tipo -%>
                                                                                    </li>
                                                
                                                                                </ul>
                                                                            </div>
                                                                            <div class="column is-2 has-text-left">
                                                                                <ul>
                                                                                    <%= link_to 'Unsubscribe', evento_unsubscribe_path(evento) %>
                                                                                </ul>
                                                                                <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                                                                                    <% end %>
                                                                            </div>
                                                                        </div>
                                                
                                                                        <ul>
                                                                            <li class="event-desc has-text-left" style="margin-left: 8vh;">
                                                                                <%= h evento.description-%>
                                                                            </li>
                                                                        </ul>
                                                                        <br>
                                                                        <br>
                                                                        <%end%>
                                                                            <% end %>
                                                                                <%end%>
                                                                                <%= image_tag("14_quarta.png") %>
                                                                                
                                                                                
                                                                                    <% @eventos.each do |evento| %>
                                                                                        <% if evento.date.day == 14 %>
                                                                                            <% if evento.name == "coffee break"%>
                                                                                                <div class="columns">
                                                                                                    <div class="column is-2 has-text-left">
                                                                                                        <ul>
                                                                                                            <li class="event-date">
                                                                                                                <%= h evento.date.hour -%>:
                                                                                                                    <%= evento.date.min -%>
                                                                                                            </li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                    <div class="column is-8">
                                                                                                        <%= image_tag("cb.png") %>
                                                                                                    </div>
                                                                                                </div>
                                                                                
                                                                                                <% elsif evento.name == "almoco"%>
                                                                                                    <div class="columns">
                                                                                                        <div class="column is-2 has-text-left">
                                                                                                            <ul>
                                                                                                                <li class="event-date">
                                                                                                                    <%= h evento.date.hour -%>:
                                                                                                                        <%= evento.date.min -%>0</li>
                                                                                                            </ul>
                                                                                                        </div>
                                                                                                        <div class="column is-8">
                                                                                                            <%= image_tag("almoco.png") %>
                                                                                                        </div>
                                                                                                    </div>
                                                                                
                                                                                                    <% else%>
                                                                                                        <div class="columns">
                                                                                                            <div class="column is-2 has-text-left">
                                                                                                                <ul>
                                                                                                                    <li class="event-date">
                                                                                                                        <%= h evento.date.hour -%>:
                                                                                                                            <%= evento.date.min -%>0</li>
                                                                                                                </ul>
                                                                                                            </div>
                                                                                                            <div class="column is-4 has-text-left">
                                                                                                                <ul>
                                                                                                                    <li class="event-theme">
                                                                                                                        <%= h evento.name-%>
                                                                                                                    </li>
                                                                                                                </ul>
                                                                                                            </div>
                                                                                                            <div class="column is-4 has-text-left">
                                                                                                                <ul>
                                                                                                                    <li class="event-name">
                                                                                                                        <%= h evento.tipo -%>
                                                                                                                    </li>
                                                                                
                                                                                                                </ul>
                                                                                                            </div>
                                                                                                            <div class="column is-2 has-text-left">
                                                                                                                <ul>
                                                                                                                    <%= link_to 'Unsubscribe', evento_unsubscribe_path(evento) %>
                                                                                                                </ul>
                                                                                                                <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                                                                                                                    <% end %>
                                                                                                            </div>
                                                                                                        </div>
                                                                                
                                                                                                        <ul>
                                                                                                            <li class="event-desc has-text-left" style="margin-left: 8vh;">
                                                                                                                <%= h evento.description-%>
                                                                                                            </li>
                                                                                                        </ul>
                                                                                                        <br>
                                                                                                        <br>
                                                                                                        <%end%>
                                                                                                            <% end %>
                                                                                                                <%end%>
                                                                                                                <%= image_tag("15_quinta.png") %>
                                                                                                                
                                                                                                                
                                                                                                                    <% @eventos.each do |evento| %>
                                                                                                                        <% if evento.date.day == 15 %>
                                                                                                                            <% if evento.name == "coffee break"%>
                                                                                                                                <div class="columns">
                                                                                                                                    <div class="column is-2 has-text-left">
                                                                                                                                        <ul>
                                                                                                                                            <li class="event-date">
                                                                                                                                                <%= h evento.date.hour -%>:
                                                                                                                                                    <%= evento.date.min -%>
                                                                                                                                            </li>
                                                                                                                                        </ul>
                                                                                                                                    </div>
                                                                                                                                    <div class="column is-8">
                                                                                                                                        <%= image_tag("cb.png") %>
                                                                                                                                    </div>
                                                                                                                                </div>
                                                                                                                
                                                                                                                                <% elsif evento.name == "almoco"%>
                                                                                                                                    <div class="columns">
                                                                                                                                        <div class="column is-2 has-text-left">
                                                                                                                                            <ul>
                                                                                                                                                <li class="event-date">
                                                                                                                                                    <%= h evento.date.hour -%>:
                                                                                                                                                        <%= evento.date.min -%>0</li>
                                                                                                                                            </ul>
                                                                                                                                        </div>
                                                                                                                                        <div class="column is-8">
                                                                                                                                            <%= image_tag("almoco.png") %>
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                
                                                                                                                                    <% else%>
                                                                                                                                        <div class="columns">
                                                                                                                                            <div class="column is-2 has-text-left">
                                                                                                                                                <ul>
                                                                                                                                                    <li class="event-date">
                                                                                                                                                        <%= h evento.date.hour -%>:
                                                                                                                                                            <%= evento.date.min -%>0</li>
                                                                                                                                                </ul>
                                                                                                                                            </div>
                                                                                                                                            <div class="column is-4 has-text-left">
                                                                                                                                                <ul>
                                                                                                                                                    <li class="event-theme">
                                                                                                                                                        <%= h evento.name-%>
                                                                                                                                                    </li>
                                                                                                                                                </ul>
                                                                                                                                            </div>
                                                                                                                                            <div class="column is-4 has-text-left">
                                                                                                                                                <ul>
                                                                                                                                                    <li class="event-name">
                                                                                                                                                        <%= h evento.tipo -%>
                                                                                                                                                    </li>
                                                                                                                
                                                                                                                                                </ul>
                                                                                                                                            </div>
                                                                                                                                            <div class="column is-2 has-text-left">
                                                                                                                                                <ul>
                                                                                                                                                    <%= link_to 'Unsubscribe', evento_unsubscribe_path(evento) %>
                                                                                                                                                </ul>
                                                                                                                                                <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                                                                                                                                                    <% end %>
                                                                                                                                            </div>
                                                                                                                                        </div>
                                                                                                                
                                                                                                                                        <ul>
                                                                                                                                            <li class="event-desc has-text-left" style="margin-left: 8vh;">
                                                                                                                                                <%= h evento.description-%>
                                                                                                                                            </li>
                                                                                                                                        </ul>
                                                                                                                                        <br>
                                                                                                                                        <br>
                                                                                                                                        <%end%>
                                                                                                                                            <% end %>
                                                                                                                                                <%end%>
    
    </div>


    


</main>
</body>

</html>


