<!DOCTYPE html>
<html>

<body>
    <%= render "home/header" %>
<main>
    <div class="hero-body container has-text-centered">
        <div class="columns has-text-centered">
            <div class="column is-12 has-text-left box-gray-perfil">
                <div class="email-field" style="font-size: 2.5em">Perfil</div>
                    <div class="has-text-right">
                        <%= link_to 'Editar', edit_perfil_path(@perfil) %>
                    </div>
                
                <div class="between-info-perfil">
                    <span class="show-perfil">Nome:</span>
                    <div class="show-content-perfil">
                        <%= @perfil.nome%>
                    </div>
                </div>
                <br>
                <div class="between-info-perfil">
                    <span class="show-perfil">Data prevista de conclusão: </span>
                    <div class="show-content-perfil">
                        <%= @perfil.ano_de_licenciatura %>
                    </div>
                </div>
                <br>
                <div class="between-info-perfil">
                    <span class="show-perfil">Instituto:</span>
                    <div class="show-content-perfil">
                        <%= @perfil.instituto %>
                    </div>
                </div>
                <br>
                <div class="between-info-perfil">
                    <span class="show-perfil">Curso:</span>
                    <div class="show-content-perfil">
                        <%= @perfil.curso %>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="has-text-centered">
            
            <%= image_tag("inscricoes.png") %>
        </div>
            
                <% count =0 %>
                    <% @eventos.each do |evento| %>
                        <% if evento.date.day == 12 %>
                        <% if count==0 %>
                        <%= image_tag("12_segunda.png") %>
                        <% count =1 %>
<% end %>
                        <%= form_tag("#{evento.id}/unsubscribe", method: :get) do %>
                            <% if evento.name == "coffee break"%>
                                <div class="columns" style="padding:1vh;">
                                    <div id="time" class="column is-2 has-text-left">
                                        <ul>
                                            <li class="event-date">
                                                <%if evento.date.min == 0%>
                                                    <%= h evento.date.hour -%>:<%= evento.date.min-%>0
                                                            <%else%>
                                                                <%= h evento.date.hour -%>:<%= evento.date.min-%>
                                                                        <%end%>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="column is-8 break-red" style="display: inline-flex">
                                        <span style="white-space: nowrap;">COFFEE BREAK</span>
                                        <div class="line-red"></div>
                                    </div>
                                </div>
                                <br>
                            
                                <% elsif evento.name == "almoco"%>
                                    <div class="columns" style="padding:1vh;">
                                        <div id="time" class="column is-2 has-text-left ">
                                            <ul>
                                                <li class="event-date">
                                                    <%if evento.date.min == 0%>
                                                        <%= h evento.date.hour -%>:<%= evento.date.min-%>0
                                                                <%else%>
                                                                    <%= h evento.date.hour -%>:<%= evento.date.min-%>
                                                                            <%end%>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="column is-8 break-yellow" style="display: inline-flex">
                                            <span>ALMOÇO</span>
                                            <div class="line-yellow"></div>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <% else%>
                                        <div class="columns" style="padding:1vh;">
                                            <div class="column is-2 has-text-left">
                                                <ul>
                                                    <li class="event-date">
                                                        <%if evento.date.min == 0%>
                                                            <%= h evento.date.hour -%>:<%= evento.date.min-%>0
                                                                    <%else%>
                                                                        <%= h evento.date.hour -%>:<%= evento.date.min-%>
                                                                                <%end%>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="column is-5 has-text-left">
                                                <ul>
                                                    <li class="event-theme">
                                                        <%= h evento.name-%>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="column is-4 has-text-left">
                                                <ul>
                                                    <li class="event-name">
                                                        <%= h evento.tipo -%>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="column is-2 has-text-left">
                                                <ul>
                                                    <%= button_to 'Desinscrever', ids: evento.id %>
                                                </ul>
                                                <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                                                    <% end %>
                                            </div>
                                        </div>
                
                                        <ul>
                                            <li class="event-desc has-text-left" style="margin-left: 12vh;">
                                                <%= h evento.description-%>
                                            </li>
                                        </ul>
                                        <br>
                                        <br>
                                        <%end%>
                                            <% end %>
                                                <%end%>
                                                <%end%>


                                                
                                                
                                                <% count = 0 %>
                                                    <% @eventos.each do |evento| %>
                                                    <% if evento.date.day == 13 %>
                                                    <% if count==0 %>
                                                    <%= image_tag("13_terca.png") %>
                                                    <% count =1 %>
                                                    <% end %>
                                                    <%= form_tag("#{evento.id}/unsubscribe", method: :get) do %>
                                                            <% if evento.name == "coffee break"%>
                                                                <div class="columns" style="padding:1vh;">
                                                                    <div id="time" class="column is-2 has-text-left">
                                                                        <ul>
                                                                            <li class="event-date">
                                                                                <%if evento.date.min == 0%>
                                                                                    <%= h evento.date.hour -%>:<%= evento.date.min-%>0
                                                                                            <%else%>
                                                                                                <%= h evento.date.hour -%>:<%= evento.date.min-%>
                                                                                                        <%end%>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="column is-8 break-red" style="display: inline-flex">
                                                                        <span style="white-space: nowrap;">COFFEE BREAK</span>
                                                                        <div class="line-red"></div>
                                                                    </div>
                                                                </div>
                                                                <br>
                                                            
                                                                <% elsif evento.name == "almoco"%>
                                                                    <div class="columns" style="padding:1vh;">
                                                                        <div id="time" class="column is-2 has-text-left ">
                                                                            <ul>
                                                                                <li class="event-date">
                                                                                    <%if evento.date.min == 0%>
                                                                                        <%= h evento.date.hour -%>:<%= evento.date.min-%>0
                                                                                                <%else%>
                                                                                                    <%= h evento.date.hour -%>:<%= evento.date.min-%>
                                                                                                            <%end%>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="column is-8 break-yellow" style="display: inline-flex">
                                                                            <span>ALMOÇO</span>
                                                                            <div class="line-yellow"></div>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <br>
                                                                    <% else%>
                                                                        <div class="columns" style="padding:1vh;">
                                                                            <div class="column is-2 has-text-left">
                                                                                <ul>
                                                                                    <li class="event-date">
                                                                                        <%if evento.date.min == 0%>
                                                                                            <%= h evento.date.hour -%>:<%= evento.date.min-%>0
                                                                                                    <%else%>
                                                                                                        <%= h evento.date.hour -%>:<%= evento.date.min-%>
                                                                                                                <%end%>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="column is-5 has-text-left">
                                                                                <ul>
                                                                                    <li class="event-theme">
                                                                                        <%= h evento.name-%>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="column is-4 has-text-left">
                                                                                <ul>
                                                                                    <li class="event-name">
                                                                                        <%= h evento.tipo -%>
                                                                                    </li>
                                                                                </ul>
                                                                            </div>
                                                                            <div class="column is-2 has-text-left">
                                                                                <ul>
                                                                                    <%= button_to 'Desinscrever', ids: evento.id %>
                                                                                </ul>
                                                                                <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                                                                                    <% end %>
                                                                            </div>
                                                                        </div>
                                                            
                                                                        <ul>
                                                                            <li class="event-desc has-text-left" style="margin-left: 12vh;">
                                                                                <%= h evento.description-%>
                                                                            </li>
                                                                        </ul>
                                                                        <br>
                                                                        <br>
                                                                        <%end%>
                                                                            <% end %>
                                                                                <%end%>
                                                                                    <%end%>
                       
                        
                            <% count = 0 %>
                            <% @eventos.each do |evento| %>
                            <% if evento.date.day == 14 %>
                            <% if count==0 %>
                            <%= image_tag("14_quarta.png") %>
                            <% count =1 %>
                            <% end %>
                            <%= form_tag("#{evento.id}/unsubscribe", method: :get) do %>
                                    <% if evento.name == "coffee break"%>
                                        <div class="columns" style="padding:1vh;">
                                            <div id="time" class="column is-2 has-text-left">
                                                <ul>
                                                    <li class="event-date">
                                                        <%if evento.date.min == 0%>
                                                            <%= h evento.date.hour -%>:<%= evento.date.min-%>0
                                                                    <%else%>
                                                                        <%= h evento.date.hour -%>:<%= evento.date.min-%>
                                                                                <%end%>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="column is-8 break-red" style="display: inline-flex">
                                                <span style="white-space: nowrap;">COFFEE BREAK</span>
                                                <div class="line-red"></div>
                                            </div>
                                        </div>
                                        <br>
                                    
                                        <% elsif evento.name == "almoco"%>
                                            <div class="columns" style="padding:1vh;">
                                                <div id="time" class="column is-2 has-text-left ">
                                                    <ul>
                                                        <li class="event-date">
                                                            <%if evento.date.min == 0%>
                                                                <%= h evento.date.hour -%>:<%= evento.date.min-%>0
                                                                        <%else%>
                                                                            <%= h evento.date.hour -%>:<%= evento.date.min-%>
                                                                                    <%end%>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="column is-8 break-yellow" style="display: inline-flex">
                                                    <span>ALMOÇO</span>
                                                    <div class="line-yellow"></div>
                                                </div>
                                            </div>
                                            <br>
                                            <br>
                                            <% else%>
                                                <div class="columns" style="padding:1vh;">
                                                    <div class="column is-2 has-text-left">
                                                        <ul>
                                                            <li class="event-date">
                                                                <%if evento.date.min == 0%>
                                                                    <%= h evento.date.hour -%>:<%= evento.date.min-%>0
                                                                            <%else%>
                                                                                <%= h evento.date.hour -%>:<%= evento.date.min-%>
                                                                                        <%end%>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="column is-5 has-text-left">
                                                        <ul>
                                                            <li class="event-theme">
                                                                <%= h evento.name-%>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="column is-4 has-text-left">
                                                        <ul>
                                                            <li class="event-name">
                                                                <%= h evento.tipo -%>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="column is-2 has-text-left">
                                                        <ul>
                                                            <%= button_to 'Desinscrever', ids: evento.id %>
                                                        </ul>
                                                        <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                                                            <% end %>
                                                    </div>
                                                </div>
                                    
                                                <ul>
                                                    <li class="event-desc has-text-left" style="margin-left: 12vh;">
                                                        <%= h evento.description-%>
                                                    </li>
                                                </ul>
                                                <br>
                                                <br>
                                                <%end%>
                                                    <% end %>
                                                        <%end%>
                                                            <%end%>
                   
                    
                    <% count =0 %>
                        <% @eventos.each do |evento| %>
                        <% if evento.date.day == 15 %>
                        <% if count==0 %>
                        <%= image_tag("15_quinta.png") %>
                        <% count =1 %>
                        <% end %>
                        <%= form_tag("#{evento.id}/unsubscribe", method: :get) do %>
<% if evento.name == "coffee break"%>
    <div class="columns" style="padding:1vh;">
        <div id="time" class="column is-2 has-text-left">
            <ul>
                <li class="event-date">
                    <%if evento.date.min == 0%>
                        <%= h evento.date.hour -%>:<%= evento.date.min-%>0
                                <%else%>
                                    <%= h evento.date.hour -%>:<%= evento.date.min-%>
                                            <%end%>
                </li>
            </ul>
        </div>
        <div class="column is-8 break-red" style="display: inline-flex">
            <span style="white-space: nowrap;">COFFEE BREAK</span>
            <div class="line-red"></div>
        </div>
    </div>
    <br>

    <% elsif evento.name == "almoco"%>
        <div class="columns" style="padding:1vh;">
            <div id="time" class="column is-2 has-text-left ">
                <ul>
                    <li class="event-date">
                        <%if evento.date.min == 0%>
                            <%= h evento.date.hour -%>:<%= evento.date.min-%>0
                                    <%else%>
                                        <%= h evento.date.hour -%>:<%= evento.date.min-%>
                                                <%end%>
                    </li>
                </ul>
            </div>
            <div class="column is-8 break-yellow" style="display: inline-flex">
                <span>ALMOÇO</span>
                <div class="line-yellow"></div>
            </div>
        </div>
        <br>
        <br>
        <% else%>
            <div class="columns" style="padding:1vh;">
                <div class="column is-2 has-text-left">
                    <ul>
                        <li class="event-date">
                            <%if evento.date.min == 0%>
                                <%= h evento.date.hour -%>:<%= evento.date.min-%>0
                                        <%else%>
                                            <%= h evento.date.hour -%>:<%= evento.date.min-%>
                                                    <%end%>
                        </li>
                    </ul>
                </div>
                <div class="column is-5 has-text-left">
                    <ul>
                        <li class="event-theme">
                            <%= h evento.name-%>
                        </li>
                    </ul>
                </div>
                <div class="column is-4 has-text-left">
                    <ul>
                        <li class="event-name">
                            <%= h evento.tipo -%>
                        </li>
                    </ul>
                </div>
                <div class="column is-2 has-text-left">
                    <ul>
                        <%= button_to 'Desinscrever', ids: evento.id %>
                    </ul>
                    <% if current_user.subscriptions.find_by(evento_id: evento.id).blank? %>
                        <% end %>
                </div>
            </div>

            <ul>
                <li class="event-desc has-text-left" style="margin-left: 12vh;">
                    <%= h evento.description-%>
                </li>
            </ul>
            <br>
            <br>
            <%end%>
                <% end %>
                    <%end%>
                        <%end%>
    <% if count==0 %>
    <p >Ainda não tens inscrições!</p>
    <%end%>
    </div>


    


</main>
</body>

</html>


