<!DOCTYPE html>
<html>
<head>
  <title>NowWhat</title>


</head>

<body>
  <div class="hero-body container-sign">
    <div class="container-nw has-text-centered">
      <h1 class="n">
        N
      </h1>
      <h1 class="w">
        W?
      </h1>
      <br>
    </div>
    <div class="container-login has-text-centered">
      <div class="login-lema">
        Learn. 
        <div class="talk"> Talk.</div>
        <div class="talk"> Initiate</div>
      </div>
    </div>
    <div class="column is-4 is-offset-4">
      <div class="actions has-text-centered">
        <a class="btn-login " href="/users/sign_in">Login</a>
        <a class=" btn-login border" href="/users/sign_up">Register</a>
      </div>
    </div>
    <div class="column is-6 is-offset-3 has-text-centered box-white">

        <form>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <div class="field">
              <div class="control">
                <%= f.email_field :email, class: 'email-field'%>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <%= f.password_field :password, class: 'email-field' %>
              </div>
            </div>
            <div class="field">
              <%= f.check_box :remember_me, class: 'checkbox-remember' %>
              <%= f.label :remember_me, class: 'remember-text' %>
            </div>
            <div class="column is-4 is-offset-4">
              <div class="actions">
                <%= f.submit "Log in", class: 'btn-login' %>
              </div>
            </div>
          </div>
          <% end %>
        </form>
        <!-- <p class="has-text-grey">
          <a href="../">Sign Up</a> &nbsp;·&nbsp;
          <a href="../">Forgot Password</a> &nbsp;·&nbsp;
          <a href="../">Need Help?</a>
        </p> -->
      </div>
    </div>

  </body>
  </html>


<!-- 
              <%= render "devise/shared/links" %>

</div> -->