<!DOCTYPE html>
<html>
<body>
  <div class="hero-body container-sign">
    <div class="container has-text-centered">
      <%= link_to(image_tag("ComponentNW.png", :class => 'nw'), "/")%>
    </div>
    <div class="container has-text-centered lema-position">
      <div class="login-lema">
        <span>learn.</span>
        <span class="talk-color">talk.</span>
        <span class="initiate-color">initiate.</span>
      </div>
    </div>

    <div class="container has-text-centered options-sign">
      <a class="btn-login" href="/users/sign_in">Login</a>
      <a class="btn-login" href="/users/sign_up">Register</a>
    </div>
    <div class="column is-4 is-offset-4 has-text-centered box-white">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'email-field',placeholder:'Email' %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", class: 'email-field',placeholder:'Password' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me, class: 'checkbox-remember' %>
            <%= f.label :remember_me, class: 'remember-text' %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: 'btn-login' %>
        </div>

      <% end %>
    </div>

  </div>
</body>
</html>

