<!DOCTYPE html>
<html>
<head>
  <title>NowWhat</title>


</head>

<body>
  <div class="hero-body container-sign">
    <div class="columns is-mobile is-multiline">
      <div class="column is-three-fifths is-offset-one-fifth has-text-centered container-nw ">

        <a class="n">
          N
        </a>
        <a class="w">
          W?
        </a>
      </div>
      <div class="column is-half is-offset-one-quarter has-text-centered container-nw">
        <div class="login-lema container-nw" >
          Learn. 
          <div class="talk"> Talk.</div>
          <div class="talk"> Initiate</div>
        </div>
      </div>
      <div class="column is-6 is-offset-3 container-talk">
        <div class="actions has-text-centered">
          <a class="btn-login " href="/users/sign_in">Login</a>
          <a class="btn-login " href="../">Forgot Password</a> 

          <a class=" btn-login border" href="/users/sign_up">Register</a>
        </div>
      </div>
      <div class="column is-4 is-offset-4 has-text-centered box-white">

        <form>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <div class="field">
              <div class="control">
                <%= f.email_field :email, class: 'email-field'%>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <%= f.password_field :password, class: 'email-field' %>
              </div>
            </div>
            <div class="field">
              <%= f.check_box :remember_me, class: 'checkbox-remember' %>
              <%= f.label :remember_me, class: 'remember-text' %>
            </div>
            <div class="column is-4 is-offset-4">
              <div class="actions">
                <%= f.submit "Log in", class: 'btn-login' %>
              </div>
            </div>
          </div>
          <% end %>
        </form>   
      </div>
    </div>
  </div>
</body>
</html>


<!-- 
              <%= render "devise/shared/links" %>

</div> -->